# Environnements virtuels
.venv/
venv/
ENV/

# VS Code
.vscode/

# Cache Python
__pycache__/
*.py[cod]

# Base de données locale
db.sqlite3

# Logs
*.log

# Migrations pyc (les migrations .py tu peux garder)
*/migrations/__pycache__/
